.app {
  &__contenteditable {
    position: absolute;
    bottom: 100px;
    left: 75%;
    transform: translateX(-75%);

    .app__textarea {
      max-height: 190px;
    }
  }
}

.highlight {
  color: #2a5885;
}
