.app__emoji-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  & h2 {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #939393;
    margin-bottom: 3px;
  }
  & .app__emoji-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  & span {
    display: inline-block;
    width: 26px;
    height: 26px;
    flex: 0 1 10%;
    cursor: pointer;
    gap: 5px;
  }
}
